body {
    width: 95%;
    text-align: center;
    text-decoration: none;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

h1 {
    font-size: 5rem;
}

/* nav ul li {
    display: flex;
    flex-direction:row;
} */

section img {
    width: 500px;
    aspect-ratio: 3/2;
}

